
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/masonry.js') }}">

<style>
.row {
  padding: 0
}

#grid[data-columns]::before {
  content: '3 .column.size-1of3';
}

.grid-item {
  width: 160px;
  height: 160px;
  float: left;
}

.myimage {
  width: 160px;
  height: 160px
}

.grid-item--width2 {
  width: 320px;
}

.grid-item--width3 {
  width: 480px;
}

.grid-item--width4 {
  width: 640px;
}

.grid-item--height2 {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}
</style>

<div class="row" style="margin:0px">
<div class="grid">
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" /> </div>
  <div class="grid-item">
    <image class="myimage" src="static\images\AlbumImages\large\Arctic%20Monkeys%20-%20AM.jpg" />
  </div>
</div>
</div>

<div class="row" style="margin:0px">
<p>This is a test</p>
</div>


